nav {
    background: #E68907;
    background: linear-gradient(180deg, rgba(230, 137, 7, 1) 0%, rgba(230, 137, 7, 1) 40%, rgba(230, 137, 7, 1) 100%);
}

.Recette, .Date {
    padding-left: 2rem;
    padding-right: 2rem;
}